h2 {color:darkred;}

 h1 {color:darkred}

  a {color:darkred;}

body {
            font-family:monospace;
            background-image:url("../assests/background.jpeg");
            background-size: 100%;
            background-color: rgb(red, green, blue);

.Anchor {
  background-color;

  height: ;
  width: ; 
  position:fixed;
  left: ;
  top: ; 

}